In [53]:
import pandas as pd
movies = pd.read_csv('/Users/manishadhikary/Documents/research/Winter Projects/Movie Recommendation ML/ml-25m/movies.csv')

In [54]:
import re
def cleanTitle(title):
    title = re.sub("[^A-Za-z0-9 ]","", title)
    return title

In [55]:
movies['title clean'] = movies['title'].apply(cleanTitle)

In [56]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer(ngram_range = (1,2))
tfidf = vectorizer.fit_transform(movies["title clean"])

In [57]:
#compute similarity 
from sklearn.metrics.pairwise import cosine_similarity
import numpy as np

def search(title):
    title = cleanTitle(title)
    title_vec = vectorizer.transform([title])
    similarity = cosine_similarity(title_vec, tfidf).flatten()
    indices = np.argpartition(similarity, -5)[-5:]
    result = movies.iloc[indices][::-1]
    return result

In [62]:
movie_input = input("Enter a movie: ")
search(movie_input)

Enter a movie: Toy Story

,movieId,title,genres,title clean
3021,3114,Toy Story 2 (1999),Adventure|Animation|Children|Comedy|Fantasy,Toy Story 2 1999
14813,78499,Toy Story 3 (2010),Adventure|Animation|Children|Comedy|Fantasy|IMAX,Toy Story 3 2010
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,Toy Story 1995
59767,201588,Toy Story 4 (2019),Adventure|Animation|Children|Comedy,Toy Story 4 2019
20497,106022,Toy Story of Terror (2013),Animation|Children|Comedy,Toy Story of Terror 2013